<a href="https://colab.research.google.com/github/shhrrtnvr/rank_scrapper/blob/main/uri_scrapper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup
import ssl
import re
import csv
import itertools
import pandas as pd

In [2]:
def filter_number(string):
  return int(re.findall('[0-9]+', string)[0])

In [3]:
def create_context():
  ctx = ssl.create_default_context()
  ctx.check_hostname = False
  ctx.verify_mode = ssl.CERT_NONE
  return ctx

In [4]:
def scrap(url):
  headers={'User-Agent': 'Mozilla/5.0'}
  req = Request(url, headers = headers)
  html = urlopen(req, context=create_context())
  return BeautifulSoup(html, 'html.parser')

In [5]:
def getIDNameAndSolved(row):
  columns = list(row.find_all('td'))
  try:
    user, solved = columns[2].a, columns[3].get_text()
    return filter_number(user['href']), user.get_text(), filter_number(solved)
  except:
    return None

In [6]:
def make_table(soup):
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  return rows

In [7]:
def filter_table(table):
    filtered_table = list()
    for row in table:
        ret = getIDNameAndSolved(row)
        if ret:
            filtered_table.append(ret)
    return filtered_table

In [8]:
rankpage = 'https://www.urionlinejudge.com.br/judge/en/users/university/{uni}?page={page}&direction=DESC'
profilepage = 'https://www.urionlinejudge.com.br/judge/en/user/{id}'

In [11]:
data = list()
page = itertools.count(1)
while True:
  link = rankpage.format(uni='ulab', page=next(page))
  try:
    soup = scrap(link)
    table = make_table(soup)
    table = filter_table(table)
    data.extend(table)
  except:
    break

In [12]:
data.sort(key=lambda x: x[-1], reverse=True)

In [13]:
id, name, count = ([a[i] for a in data] for i in range(3))

In [14]:
df = pd.DataFrame({
    'ID' : id,
    'Name': name,
    'Sovle Count':count
})

In [15]:
pd.set_option('display.max_rows', None)
df

         ID                                     Name  Sovle Count
0    514900                         Mohd Ataul Hakim          119
1    464318                               Apon Ghosh          111
2    504748                       Sadia Ahmed Bushra          100
3    469637                              Rakib Ahmed           83
4    108156                                    yyyyy           67
5    514917                          Nur Hasan Masum           62
6    529212                                 Bambi_18           62
7    504755                              Razaan Reza           60
8    514945                            Jenifar Gomes           59
9    287478                                   plabon           56
10    66162                             ulab_dilware           55
11   399832                           Mohammad Eunus           54
12   502686                             Nahian Raisa           51
13   514905                      Farjahan Akter Boby           49
14   304680                 Md. Rahimuzzaman Bhuiyan           47
15   514892           ABRAR MAHBUB TANIM (201014073)           42
16   514249               Arunangshu Mojumder Raatul           41
17   514921                            Munem Shariar           41
18   367568                          D4RK_H4T (ULAB)           40
19    47618                               IrtezaAsad           38
20   296724                              Rukon Uddin           34
21   515063                           Mizanur Rahman           31
22   216395                      Tony Nicholas Gomes           31
23   478480                      Ahmed Moonwar Anjum           31
24   205603                                     Abel           29
25    77781                                152014012           28
26   514909                       Hajera Khatun Saba           26
27    36266                         A Z M Shamsuddin           26
28   514902                 Md Sazzadul Islam Shykat           25
29   515049                                   Ehasan           23
30   478909                       Kaniz Amena Anjona           23
31   295570                          Afraim Zahangir           22
32   281659                             anjon mahmud           21
33   514911                    Muhesena Nasiha Syeda           21
34   140666                           Sazzad Hussain           21
35   298393                         wahidullah remon           20
36   412941                       Sadia Afrin Ridita           20
37   514948                             Souvik Ahmed           19
38   514906                              Kazi Nafisa           19
39    77785                                152014046           19
40   514946                 Morium Begum (201014072)           18
41   514898                              purno zaman           17
42   514910                          Yeasinur Rahman           17
43   263312                               naser.alam           17
44   514914                  Zahid Kamal (191014009)           16
45   514913  Towshick Intesir Ahmed Rain (193014017)           16
46   514885                    Ahmed Shahriar Tanvir           15
47   515159                             Humira Saria           14
48   514903                      Sabreena Islam Khan           14
49   519916                       Rocksana Akter Omi           13
50   217843                           Blueboy Farhan           13
51   515957                       Michah Mithun Saha           13
52   514920                                  Mks Joy           13
53   478847                             Sarika Jahan           13
54   478887                          princess alyssa           12
55    78243                        selfish albetross           12
56   298607                                    Sadia           11
57   514248      Md. Mutasim Billah Abu Noman Akanda           10
58   514922              Mohammad Ali Ahanaf Hossain           10
59   514923                              Nayla Muqim           10
60    78238                         Md Hazrat Mollik           10
61   506266                              Kazi Saddam            9
62   537172                      Saiful Islam Soysob            9
63   530724                               Alvi Ahmed            9
64    65602                              Aftab Uddin            9
65   327165             Md. Azizul Hakim (191014012)            8
66   514924           Sadia Sultana Satu (201014079)            8
67   514918                          MD ASIF MOSTAFA            8
68   297193                            Shiam Prodhan            8
69   514895               Emtu Rani Paul (201014056)            7
70    11024                                    RaNgo            7
71   514904            Abrar Saief Safat (203014020)            7
72    78245                            2222222222222            7
73    84031                            imran hossain            7
74    80825                             Sakib Sadman            7
75   514969                           Andalib Rahman            6
76   514901         Shalizma Islam Hadia (192014029)            5
77   514899               Sabrina Sarwar (192014046)            5
78   516520                        Nazia Afrin Titly            4
79   135030                      kazi shakil hossain            4
80   300508                       Zunayed Al Jubayer            4
81   458577                            Sohag Hossain            4
82   343247                                   jeneus            4
83   139883                      Eyamin Khan (Mohon)            4
84   424944                            Nahadi Mahmud            4
85   514897                           Fardeen Pranto            3
86   514973        Ashiqur Rahman Prince (191014054)            3
87   514907                   Raomi Rouf (203014014)            3
88   291547                             afsana jamal            3
89    70809                                SAS Sakib            3
90    74787                                151014077            3
91   414919                              Shaikat Roy            3
92   461376                            nabila tasmia            2
93   300445                                 AL IMran            2
94   340666                               RIAD RIFAT            2
95   515059                             Armin__Tanaz            2
96   472203                                  Sharier            1
97   514916                             Rabeya Bosri            1
98   514912                            Monika Akther            1
99   299909                                  md xoxo            1
100   70916                            Apurba Sarkar            0
101  106460                            Madina Rahman            0
102  298388                           Anatte Rozario            0
103  514952                             Ehasan Ahmed            0
104  515050                     shamima akter fariha            0